@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
        <tr>
            <td>@Html.ActionLink(customer.Name, "details", "customers", new { id = customer.Id }, null)</td>
            <td>@customer.MembershipType.DiscountRate%</td>
        </tr>
        }
    </tbody>
</table>

